
$breakpoints:(
    xs:0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

html{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}
body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

.container{
    width:100%;
    height:100%;
   
}

header{
    width:100%;
    height:15%;
}

header h1{
    text-align:center;
}

footer{
    width:100%;
    height:12vh;
    position:fixed;
    bottom:0;
    z-index:100;
}

footer p{
    display:flex;
    justify-content:center;
    align-items:center;
    width:40px;
    height:40px;
    border:2px solid grey;
    border-radius:50%;
    text-align:center;
    margin-left:80%;
    margin-right:5%;
    cursor:pointer;
}
section{
    width:100%;
    height:75%;
}

.card{
    max-width:70%;
    height:60vmax;
    margin:15%;
    display:block;
    background-color:#e6e6e6;
    border:1px solid black;
    border-radius:2%;
}


.pfimg{
    height:30%;
    margin:0;
    padding:0;
    display:flex;
    align-items:center;
    justify-content:center;
}

.pfimg img{
    max-width:30vw;
    max-height:55%;
    margin:0;
    padding:0;
    border-radius:50%;
    border:1px solid black;

}

.content{
    height:45%;
    text-align:center;
    font-weight:bold;
}

.media{
    height:18%;
    margin:0;
    padding:0;
    display:flex;
    flex:row wrap;
    justify-content:space-around;
}

.media p{
    width:30px;
    height:30px;
    border-radius:50%;
    
}

.media p img{
    object-fit:cover;
    width:25px;
    height:25px;
}



@media screen and (min-width:map-get($breakpoints,md)){

section{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.card{
    width:40%;
    height:40vmin;
    margin:5%;
    
}

.pfimg img{
    width:25%;
    height:50%;
}
footer p{
   width:60px;
   height:60px;
}
}

@media screen and (min-width:map-get($breakpoints,lg)){

    section{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
    }
    
    .card{
        width:15vw;
        height:50vh;
        margin:5%;
        
    }
    .pfimg img{
        width:30%;
        height:50%;
    }
}