<div class="container">
<header><h1>User Profiles</h1></header>
<section>
    <div class="card" *ngFor="let user of users;let idx=index" (click)="editProfile(idx)">
        
        <div class="pfimg"><img class="card-img-top" src="../assets/img/img3.jpg"/></div>
        <div class="content">
            <p class="title">{{user.userName|titlecase}}</p>
            <p class="job">{{user.userDesignation|titlecase}}</p>
        </div>
        <div class="media">
            <p placement="top" [ngbTooltip]="user.userMobile" class="mobile"><img src="../assets/img/mobilelogo.png"/></p>
            <p placement="top" ngbTooltip="Facebook" class="fb"><a [attr.href]="'//'+user.userFbLink"><img src="../assets/img/fblogo.png"/></a></p>
            <p placement="top" ngbTooltip="Twitter" class="twitter"><a [attr.href]="'//'+user.userTwitLink"><img src="../assets/img/twitterlogo.png"/></a></p>
            <p placement="top" ngbTooltip="LinkedIn" class="linkedin"><a [attr.href]="'//'+user.userLinkedLink"><img src="../assets/img/linkedinlogo.png"/></a></p>
        </div>
    
    </div>
</section>
<footer><p placement="top" ngbTooltip="New User" (click)="open()">+</p></footer>

</div>